.button {
  @include font("Oswald",400,14px,18px);
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-white;
  padding: 10px 0;
  cursor: pointer;

  &:hover {
    background-color: $color-background-hover;
  }
}
