.card__link-title {
  text-decoration: none;
  color: #222222;
}

.card__information-item {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  list-style: none;
}

.card__order-button {
  background-color: #68b738;
  padding: 10px 109px;
}
