.catalog__item {
  padding: 20px 20px 25px;
  border-bottom: 1px solid $color-border;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 324px;
    padding: 0 37px 40px;
    background-color: $color-grey-f2;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding: 0 30px 33px 35px;
  }
}

.catalog__info {
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 252px;
  }
}

.catalog__show-more {
  display: flex;
  flex-direction: column;
  padding: 78px 20px 0px;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    padding: 0 40px 40px;
    background-color: $color-white;
    border: solid 2px $color-grey-f2;
  }
}

.catalog__list {
  @media (min-width: $tablet-width) {
    display: grid;
    column-gap: 60px;
    row-gap: 141px;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
  }

  @media (min-width: $desktop-width) {
    column-gap: 80px;
    row-gap: 143px;
    grid-template-columns: 245px 245px 245px 245px;
  }
}

.catalog__container {
  display: flex;
  justify-content: center;
  margin-bottom: 21px;
  gap: 36px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    position: relative;
    width: 100%;
    align-items: center;
    margin-bottom: 28px;
  }

  &--1000 {
    gap: 28px;
    margin-bottom: 5px;

    @media (min-width: $tablet-width) {
      margin-bottom: 30px;
    }
  }
}

.catalog__container-more {
  position: relative;
  flex-direction: column;
  gap: 0;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    top: -40px;
  }

  &::after {
    content: "";
    position: absolute;
    transform: translateX(-50%) rotate(90deg);
    left: 50%;
    right: 92px;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    top: -40px;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    margin-bottom: 33px;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}
