.contacts__invite {
  line-height: 20px;
}

.contacts__address {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: $grey-dark;
}
