.copyright__link {
  text-decoration: none;

  &::before {
    content: "";
    display: block;
    width: 27px;
    height: 34px;
    mask-image: url("../../img/sprite.svg#logo-html");
    background-color: $color-slider;
    transition: background-color 0.3s;
  }
}

.copyright__link:hover,
.copyright__link:focus-visible {
  &::before {
    background-color: $color-green;
  }
}

.copyright__link:active {
  &::before {
    background-color: $color-green;
  }
}

.copyright__text {
  @include font("Lato",400,16px,19px);
  color: $color-grey-dark;
}
