.copyright__link {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;

  &::after {
    content: "";
    display: block;
    width: 27px;
    height: 34px;
    mask-image: url("../../img/sprite.svg#logo-html");
    background-color: $color-slider;
    transition: background-color 0.3s;
  }

  @media (min-width: $tablet-width) {
    gap: 27px;
  }
}

.copyright__link:hover,
.copyright__link:focus-visible {
  &::after {
    background-color: $color-green;
  }
}

.copyright__link:active {
  &::after {
    background-color: $color-green;
  }
}

.copyright__text {
  @include font("Lato",400,16px,19px);
  color: $color-grey-dark;
}
