.extra-products__button {
  background-color: #68b738;
  padding: 10px 109px;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 632px;
  }
}

.extra-products__list {
  margin: 0 0 35px 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.extra-products__item {
  list-style: none;
  padding: 13px 0 20px;
  border-bottom: 1px solid $color-grey-cd;

  &:first-of-type {
    border-top: 1px solid $color-grey-cd;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.extra-products__amount {
  @include font("Lato", 400, 14px, 14px);
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.extra-products__title {
  line-height: 16px;
  padding: 0;
  margin: 0 0 13px 0;
}

.extra-products__promo {
  padding: 60px 60px 48px 60px;
  background-image: url("../../img/gift-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.extra-products__present-text {
  @include font("Lato", 400, 16px, 20px);
  color: $color-white;
  text-align: center;
  margin: 0 auto;
}

.extra-products-image {
  display: block;
  margin: 0 auto 48px;
}
