.features {
  padding: 0 20px;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    margin: 0;
    padding-bottom: 47px;
    border-bottom: solid 1px $color-nav-border;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    border-bottom: none;
    margin-bottom: 69px;
  }
}

.features__title {
  margin: 0 0 40px 0;

  @media (min-width: $tablet-width) {
    margin: 45px 0 32px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 32px;
  }
}

.features__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 37px 65px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 80px;
  }
}

.features__item {
  position: relative;
  margin: 0 0 20px 0;
  padding: 0 0 0 80px;
  color: #444444;
  max-width: 97%;
  min-height: 60px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    padding: 151px 26px 57px 0;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding-right: 0;
  }

  &--sheet {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../../img/sprite.svg#sheet");
      background-color: #68b738;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px 32px;
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
    }

    @media (min-width: $tablet-width) {
      &::before {
        top: 40px;
        width: 80px;
        height: 80px;
      }

      background-image: url("../../img/1.png");
      background-repeat: no-repeat;
      background-position: 125px 40px;
    }
  }

  &--powder {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../../img/sprite.svg#powder");
      background-color: #68b738;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 26px 29px;
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
    }

    @media (min-width: $tablet-width) {
      &::before {
        top: 40px;
        width: 80px;
        height: 80px;
      }

      background-image: url("../../img/2.png");
      background-repeat: no-repeat;
      background-position: 125px 40px;
    }
  }

  &--food {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../../img/sprite.svg#food");
      background-color: #68b738;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 25px 30px;
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
    }

    @media (min-width: $tablet-width) {
      &::before {
        top: 40px;
        width: 80px;
        height: 80px;
      }

      background-image: url("../../img/3.png");
      background-repeat: no-repeat;
      background-position: 125px 40px;
    }
  }

  &--time {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../../img/sprite.svg#time");
      background-color: #68b738;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 26px 31px;
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
    }

    @media (min-width: $tablet-width) {
      &::before {
        top: 40px;
        width: 80px;
        height: 80px;
      }

      background-image: url("../../img/4.png");
      background-repeat: no-repeat;
      background-position: 125px 40px;
    }
  }
}

.features__item-text {
  margin: 0;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 242px;

    br {
      display: initial;
    }
  }
}
