.field-checkbox {
  border: none;
}

.field-checkbox__list {
  display: grid;
  margin-bottom: 37px;
  grid-template-columns: 1fr;
  row-gap: 19px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    row-gap: 42px;
    column-gap: 58px;
    margin-bottom: 0;
    padding: 0 48px 59px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0;
    margin-bottom: 70px;
    width: 1237px;
  }
}

.field-checkbox__label {
  position: relative;
  display: block;
  cursor: pointer;

  &:disabled {
    opacity: 0.3;
  }
}

.field-checkbox__name {
  padding-left: 46px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-left: 61px;
    font-size: 20px;
    line-height: 30px;
  }
}

.field-checkbox__input[type="checkbox"]:checked + .field-checkbox__mark {
  &::before {
    background-image: url("../../img/sprite.svg#check-green");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    width: 18px;
    height: 14px;
    top: 7px;
    left: 5px;
    content: "";

    @media (min-width: $tablet-width) {
      width: 24px;
      height: 19px;
      top: 10px;
      left: 8px;
    }
  }
}

.field-checkbox__mark {
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $color-grey-cd;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    top: -40%;
  }

  @media (min-width: $desktop-width) {
    top: -23%;
  }
}

.field-checkbox__label:hover .field-checkbox__mark {
  border: 1px solid $color-form-hover;
}
