.field-checkbox {
  border: none;
}

.field-checkbox__list {
  display: grid;
  margin-bottom: 40px;
  grid-template-columns: 1fr;
  row-gap: 25px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    row-gap: 42px;
    margin-bottom: 0;
    padding: 0 40px 54px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.field-checkbox__item {
  position: relative;
  cursor: pointer;
}

.field-checkbox__label {
  padding-left: 46px;
  cursor: pointer;
}

/* .field-checkbox__mark {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: 1px solid $color-grey-cd;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    margin-right: 18px;
  }
}

.field-checkbox__input[type="checkbox"]:checked ~ .field-checkbox__mark {
  &::before {
    background-image: url("../../img/sprite.svg#check-green");
    background-repeat: no-repeat;
    width: 18px;
    height: 14px;
    top: 6px;
    left: 5px;
    position: absolute;
    content: "";
  }

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 19px;  }
}
 */


.field-checkbox__input[type="checkbox"]:checked + .field-checkbox__mark {
  &::before {
    background-image: url("../../img/sprite.svg#check-green");
    background-repeat: no-repeat;
    background-size: 18px 14px;
    background-position: 50% 50%;
    position: absolute;
    content: "";
  }
}

.field-checkbox__input[type="checkbox"] + .field-checkbox__mark {
  &::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border: 1px solid $color-grey-cd;
  }
}
