.field-radio {
  margin: 0 -20px 26px;
}

.field-radio__list {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding: 27px 20px;
  border-bottom: 1px solid $color-border-top;

  @media (min-width: $tablet-width) {
    border: 1px solid $color-border-top;
    padding: 25px 0 25px 28px;
    margin-left: 60px;
    margin-right: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-right: 0;
    border: none;
  }
}
