.form-field__name {
  line-height: 18px;
  margin-right: 13px;
  flex-shrink: 0;
  color: $color-grey-dark;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-right: 17px;
  }
}

.form-field__input,
.form-field__textarea {
  &::placeholder {
    line-height: 18px;
    text-transform: uppercase;
    color: $color-grey-dark;
  }
}

.form-field {
  &--comment {
    @media (min-width: $tablet-width) {
      margin-bottom: 42px;
      padding: 0 70px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 110px;
      margin-bottom: 46px;
    }
  }

  &--contacts {
    margin: 0;
    margin-bottom: 10px;
    padding: 0 20px;

    @media (min-width: $tablet-width) {
      margin: 0 0 45px;
      padding: 0 70px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 110px;
      margin: 0;
    }
  }
}

.form-field__textarea {
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  font-family: inherit;
  border: 1px solid #e7e7e7;
  padding: 9px 0 0 15px;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    height: 174px;
    padding: 10px 20px;
  }

  &:hover {
    border: 1px solid $color-grey-cd;
  }
}

.form-field__label {
  display: flex;
  margin-bottom: 14px;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.form-field__input {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  width: 100%;
  font-family: inherit;
  padding: 13px 15px 12px;
  border: 1px solid $color-input;

  &:hover {
    border: 1px solid $color-grey-cd;
  }

  &:focus {
    outline: 2px solid $color-grey-dark;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 20px 10px;
  }
}

.form-field__container-email {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    mask-image: url("../../img/sprite.svg#mail");
    width: 20px;
    height: 20px;
    background-color: $color-nero;
    right: 15px;
    bottom: 13px;

    @media (min-width: $tablet-width) {
      right: 16px;
      bottom: 18px;
    }

    @media (min-width: $desktop-width) {
      right: 19px;
      bottom: 16px;
    }
  }
}


.form-field__container-email:focus-within::after,
.form-field__container-phone:focus-within::after {
  background-color: $color-green;
}

.form-field__invalid .form-field__input {
  outline: 2px solid $color-error;
  outline-offset: -2px;
}

.form-field__invalid.form-field__container-email::after {
  background-color: $color-error;
}

.form-field__container-phone {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    mask-image: url("../../img/sprite.svg#phone");
    width: 20px;
    height: 20px;
    background-color: $color-nero;
    right: 15px;
    bottom: 12px;

    @media (min-width: $tablet-width) {
      right: 16px;
      bottom: 18px;
    }

    @media (min-width: $desktop-width) {
      right: 19px;
      bottom: 16px;
    }
  }
}

.form-field__title-contacts {
  margin-bottom: 35px;
  width: 220px;
  margin-left: -20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    width: 594px;
    margin-bottom: 76px;
    margin-left: -40px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 37px;
    margin-left: -37px;
    width: 589px;
  }
}

.form-field__title-comment {
  margin-bottom: 37px;
  width: 150px;

  @media (min-width: $tablet-width) {
    width: 257px;
    margin-left: -40px;
    padding-left: 40px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 39px;
    margin-left: -40px;
    width: 261px;
  }
}

.form-field__title-checkbox {
  margin: 0;
  margin-bottom: 36px;
  width: 170px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
    width: 292px;
    margin-left: 8px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 35px;
    margin-left: -37px;
    margin-bottom: 61px;
  }
}

.form-field__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    column-gap: 80px;
    margin-bottom: 46px;
    grid-template-columns: 570px 570px;
  }
}

.form-field__line {
  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: $color-green;
    z-index: -1;
    top: 15px;

    @media (min-width: $tablet-width) {
      right: 0;
      top: 22px;
    }
  }
}
