.form-field__name {
  text-transform: uppercase;
  line-height: 18px;
}

.form-field__input,
.form-field__textarea {
  &::placeholder {
    line-height: 18px;
    text-transform: uppercase;
    color: $grey-dark;
  }
}

.form-field__item {
  list-style: none;
  text-transform: uppercase;
}

.form-field__title {
  @include font("Oswald", sans-serif,400,24px,26px);
}
