.form-program__button-submit {
  background-color: $color-green;
  border: none;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 282px;
    padding: 13px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.form-program__note {
  @include font("Lato",400,14px,16px);
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.form-program__field {
  position: relative;
  border: none;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.form-program__submit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 64px;
    margin: 0 40px;
    padding: 0;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.form-program__wrapper {
  padding: 0 20px;

  @media (min-width: $desktop-width) {
    width: 100%;
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
    justify-content: space-between;
    padding: 0 110px;
  }
}
