.page-main__promo {
  background-color: rgba(104, 183, 56, 0.85);

  @media (min-width: $tablet-width) {
    background-color: $color-white;
  }
}

.page-main__programs {
  margin: 0 20px;
}

.page-main__catalog {
  border-top: 1px solid $color-border;
  margin-top: 41px;

  @media (min-width: $tablet-width) {
    border:none;
  }
}

.page-main__title-block {
  padding-top: 27px;
  border-top: 1px solid $color-border-top;

  @media (min-width: $tablet-width) {
    border: none;
  }
}
