.page-footer__contacts {
  display: grid;
  background-color: $color-grey-f2;

  @media (min-width: $desktop-width) {
    grid-template-columns: auto 565px 655px auto;
    background-color: $color-white;
  }
}

.page-footer__info {
  background-color: $color-grey-f2;
}

.page-footer__container {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: inherit;
    justify-content: space-between;
    padding: 55px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 110px;
  }
}

.page-footer__social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 132px;
  align-self: center;
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 17px;
    margin-left: 25px;
  }
}

.page-footer__link {
  display: block;
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid $color-border-top;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding-top: 7px;
  }

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__copyright {
  border-top: 1px solid $color-border-top;
  padding-top: 15px;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    border-top: none;
    gap: 27px;
    padding-top: 0;
  }
}

.page-footer__image {
  @media (min-width: $tablet-width) {
    width: 142px;
    height: 26px;
  }
}
