.page-main__container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.page-main__wrapper {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85) 302px, transparent 302px), url("../../img/index-background-cat.png");
  background-repeat: no-repeat, no-repeat;
  background-position: top center;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 472px 540px;
    grid-template-rows: auto auto auto auto;
    padding: 0 110px;
  }
}

.page-main__catalog {
  border-top: 1px solid $color-border;
  margin-top: 41px;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0 30px;
    margin-bottom: 68px;
  }
}

.page-main__title-block {
  padding-top: 27px;
  border-top: 1px solid $color-border-top;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0 30px;
    margin-top: 72px;
    margin-bottom: 118px;
  }
}

.page-main__programs {
  padding: 0 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    margin-bottom: 71px;
  }
}

.page-main__promo {
  @media (min-width: $desktop-width) {
    padding-top: 110px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85) 720px, transparent 720px), url("../../img/index-background-desktop.png");
      background-repeat: no-repeat;
      background-size: 100%;
      width: 50%;
      height: 694px;
      z-index: -1;
    }
  }
}

.page-main__extra-products {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }
}
