.page-footer__contacts {
  padding: 26px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
  }
}

.page-footer__info {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: inherit;
    justify-content: space-between;
  }
}

.page-footer__social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 132px;
  align-self: center;
  padding: 20px 0;
}

.page-footer__link {
  display: block;
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid $color-border-top;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}
