.page-main__container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.page-main__promo {
  background-color: rgba(104, 183, 56, 0.85);

  @media (min-width: $tablet-width) {
    background-color: $color-white;
  }
}

.page-main__catalog {
  border-top: 1px solid $color-border;
  margin-top: 41px;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.page-main__title-block {
  padding-top: 27px;
  border-top: 1px solid $color-border-top;

  @media (min-width: $tablet-width) {
    border: none;
  }
}
