.page-main__container {
  margin: 0 auto;
  width: 100%;
  border-top: 1px solid $color-border-top;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.page-main__wrapper {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85) 302px, transparent 302px), url("../../img/content/index-background-mobile@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-position: top center;
  padding-top: 27px;
  max-width: 1440px;
  margin: 0 auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/content/index-background-mobile@2x.png");
  }

  @media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
    background: linear-gradient(to right, rgba(104, 183, 56, 0.85) 0 100%), url("../../img/content/index-background-mobile@1x.png"), linear-gradient(to right, #4d4d52 0 100%);
    background-repeat: no-repeat, no-repeat;
    background-position: top center;
    background-size: auto 320px;
  }

  @media (min-width: $tablet-width) {
    background-image: none;
    padding-top: 46px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.page-main__catalog {
  border-top: 1px solid $color-border;
  margin-top: 41px;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    border: none;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 74px;
  }
}

.page-main__title-block {
  border-top: 1px solid $color-border-top;
  padding: 27px 0 0 20px;

  @media (min-width: $tablet-width) {
    border: none;
    margin-top: 44px;
    margin-bottom: 163px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 165px;
    margin-top: 56px;
  }
}

.page-main__programs {
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.page-main__promo {
  @media (min-width: $desktop-width) {
    padding-top: 93px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85) 720px, transparent 720px), url("../../img/content/index-background-desktop@1x.png");
      background-repeat: no-repeat;
      background-size: 100%;
      width: 50%;
      height: 694px;
      z-index: -1;

      @media (min-resolution: 2dppx) {
        background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85) 720px, transparent 720px), url("../../img/content/index-background-desktop@2x.png");
      }
    }
  }
}

.page-main__extra-products {
  position: relative;
}
