.programs__item {
  background-color: $grey-f2;
  list-style: none;
}

.programs__link {
  color: $black;
  text-transform: uppercase;
  line-height: 16px;
  text-decoration: none;
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
}

.programs__description {
  @include font("Lato", sans-serif,400,14px,18px);
}
