.programs__item {
  background-color: $color-grey-f2;
  padding: 30px 33px 20px 20px;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    padding: 77px 61px 57px 52px;
    margin-top: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.programs__link {
  position: relative;
  line-height: 16px;
  display: block;
  width: 139px;

  &::after {
    content: "";
    mask: url("../../img/sprite.svg#arrow");
    background-color: $color-black;
    width: 24px;
    height: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 15px;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 165px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}

.programs__link:hover::after {
  width: 32px;
}

.programs__list {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.programs__title {
  position: relative;
  font-size: 24px;
  line-height: 37px;
  margin: 0 0 30px 0;
  padding-left: 70px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    text-align: inherit;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
    margin-bottom: 73px;
  }

  &--slim {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../../img/sprite.svg#cat-weight-mobile");
      background-repeat: no-repeat;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 50px;
      height: 53px;
    }

    @media (min-width: $tablet-width) {
      &::before {
        display: none;
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        content: "";
        display: block;
        background-image: url("../../img/sprite.svg#cat-weight-desktop");
        width: 100px;
        height: 106px;
      }
    }
  }

  &--pro {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../../img/sprite.svg#cat-mass-mobile");
      background-repeat: no-repeat;
      top: 50%;
      transform: translateY(-50%);
      left: -7px;
      width: 67px;
      height: 50px;
    }

    @media (min-width: $tablet-width) {
      &::before {
        display: none;
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        content: "";
        display: block;
        background-image: url("../../img/sprite.svg#cat-mass-desktop");
        width: 134px;
        height: 100px;
      }
    }
  }
}

.programs__description {
  margin: 0 0 20px 0;
  padding-bottom: 23px;
  color: $color-grey-dark;
  border-bottom: 1px solid $color-border-top;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 340px;
    position: relative;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin-bottom: 27px;
    color: $color-black;
  }

  &--slim {
    @media (min-width: $tablet-width) {
      &::before {
        content: "";
        position: absolute;
        background-image: url("../../img/sprite.svg#cat-weight-tablet");
        background-repeat: no-repeat;
        top: 50%;
        transform: translateY(-50%);
        right: -100%;
        width: 200px;
        height: 200px;
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        display: none;
      }
    }
  }

  &--pro {
    @media (min-width: $tablet-width) {
      &::before {
        content: "";
        position: absolute;
        background-image: url("../../img/sprite.svg#cat-mass-tablet");
        background-repeat: no-repeat;
        top: 50%;
        transform: translateY(-50%);
        right: -100%;
        width: 268px;
        height: 200px;
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        display: none;
      }
    }
  }
}
