.promo__title {
  text-align: center;
  color: $color-white;

  @media (min-width: $tablet-width) {
    color: $color-black;
    text-align: left;
    margin-left: 118px;
    width: 71%;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 40px 80px;
    width: 420px;
  }
}

.promo__slogan {
  @include font("Oswald", 400, 14px, 14px);
  text-align: center;
  color: $color-white;
  margin-top: 25px;
  text-transform: uppercase;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    @include font("Oswald", 400, 20px, 20px);
    width: 300px;
    color: $color-black;
    margin-top: 41px;
    text-align: left;
    margin-left: 118px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 52px 80px;
  }
}

.promo__button {
  background-color: $color-green;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 244px;
    margin: 49px 0 526px 118px;
    font-size: 20px;
    line-height: 20px;
    padding: 17px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 267px 80px;
  }
}

.promo__image {
  display: block;
  text-align: center;
  margin: 0 auto 2px;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    top: -85px;
    left: 58%;
    width: 552px;
    height: 499px;
  }
}
