.show-more__title {
  line-height: 20px;
}

.show-more__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $grey-dark;
}

.show-more__button {
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: $grey-dark;
  background-color: $grey-f2;
  padding: 10px 94px;
}
