.show-more__title {
  line-height: 20px;
}

.show-more__text {
  @include font("Lato",400,12px,16px);
  color: $grey-dark;
}

.show-more__button {
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: $grey-dark;
  background-color: $grey-f2;
  padding: 10px 94px;
}
