.site-nav__item {
  text-transform: uppercase;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 24px;
  border-top: 1px solid $color-nav-border;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.site-nav__link {
  @include font("Oswald", 500, 20px, 20px);
  text-decoration: none;
  color: $color-black;

  @media (min-width: $tablet-width) {
    @include font("Oswald", 400, 18px, 24px);
  }
}

.site-nav__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 440px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin-right: 110px;
  }
}

.site-nav__link--current {
  @media (min-width: $tablet-width) {
    padding-bottom: 10px;
    border-bottom: 2px solid $color-green;
  }
}
