.site-nav__item {
  text-transform: uppercase;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 19px;
  border-top: 1px solid $color-nav-border;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.site-nav__link {
  @include font("Oswald", 500, 20px, 20px);
  text-decoration: none;
  color: $color-black;

  @media (min-width: $tablet-width) {
    @include font("Oswald", 400, 18px, 24px);
  }

  @media (min-width: $desktop-width) {
    @include font("Oswald", 400, 20px, 30px);
  }

  &--color {
    @media (min-width: $desktop-width) {
      color: $color-white;
    }
  }

  &--active {
    @media (min-width: $tablet-width) {
      padding-bottom: 10px;
      border-bottom: 2px solid $color-green;
    }
  }

  &--current {
    @media (min-width: $desktop-width) {
      border-bottom: 2px solid $color-white;
    }
  }
}

.site-nav__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 440px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 478px;
  }
}
