.story {
  background-color: $color-grey-ed;

  @media (min-width: $tablet-width) {
    background-color: $color-white;
  }
}

.story__title {
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
  }
}

.story__history {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
  }
}

.story__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    gap: 42px;
  }
}

.story__container-list {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.story__item {
  width: 124px;
  height: 56px;
  padding-top: 15px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid $color-grey-cd;
  border-radius: 3px;
}

.story__wrapper {
  @media (min-width: $desktop-width) {
    background-color: $color-grey-f2;
    padding-top: 70px;
  }
}

.story__value {
  @include font("Oswald", 400, 24px, 24px);
}

.story__description {
  @include font("Oswald", 400, 12px, 12px);
}

.story__item-costs {
  @include font("Oswald", 400, 14px, 20px);
}
