*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @include font("Oswald", 400, 16px, 24px);
  margin: 0 auto;
  height: 100%;
}

img {
  object-fit: contain;
  object-position: center;
}
