// project colors

$color-white: #ffffff;
$color-nero: #222222;
$color-green: #68b738;
$color-grey-dark: #444444;
$color-black: #000000;
$color-grey-f2: #f2f2f2;
$color-grey-ed: #ededed;
$color-grey-cd: #cdcdcd;
$color-border: #ebebeb;
$color-border-top: #d9d9d9;

// Viewports

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
